@page "/"

<PageTitle>Home</PageTitle>

<h1>Home</h1>

<h4>Welcome to the Continuous Assessment of Hubert Bukowski.</h4>
<p>This CA consists of a single page application which allows users to search for games on the Steam game distribution platform.<br />
    Each game that matches the user input is displayed in card on the screen, alongside the Lowest price recorded for that game.<br />
    Wherever present in the JSON response, Thumbnails are displayed as imaged on each of the Games' cards.<br />When a card is clicked,
    The user is taken to the Steam store page for that game, for further browsing.</p>

<p>User has the ability to sort result by Lowest recorded price in Ascending or Descending order</p>
<p>User can calculate the difference between the highest priced game, and the lowest priced games currently listed in<br />
    the search results.</p>

@code {

}

